<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapifolti.partygate">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tapifolti.partygate.PartyGateActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tapifolti.partygate.RegisterActivity"
            android:label="@string/register_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" >
        </activity>
        <activity android:name="com.tapifolti.partygate.TestFaceActivity"
            android:label="@string/testface_name"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" >
        </activity>
    </application>

</manifest>